.HeaderThanks {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #8e9e84;
}

.Cita {
  width: 100%;
  min-height: 36vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 2rem;
  margin-left: 2rem;
  background-image: url(../../../../assets/Mesa.png);
  background-repeat: no-repeat;
  background-size: 54% auto;
  background-position: right bottom;
}

.ThanksText {
  width: 90%;
  padding: 0.6rem 0;
  font-size: 2.2rem;
  font-family: 'HighSpirited', cursive;
  text-align: left;
  color: #ffffff;
}

@media (min-width: 768px) {
  .Cita {
    background-size: 32% auto !important;
  }
}

@media (min-width: 1200px) {
  .Cita {
    min-height: 36vh;
    padding-left: 10vw;
    background-size: 16% auto !important;
  }
}


