.Celebration {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 1rem 0;
}

.Adress {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.Adress .Label {
  margin-bottom: 0.2rem;
}

.mapa-placeholder {
  width: 100%;
  height: 48vh;  
  display: grid;
  place-items: center;
  margin: 1rem 0 2rem 0;
  font-weight: 600;  
  border: 1px solid #ddd;
  border-radius: 12px;
  overflow: hidden;
}

.mapa-placeholder iframe {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  border: 0;
}
