.HotelButton {
  width: 100%;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  border-radius: 32px;
  border: none;
  background-color: #6c757d; /* Color secundario */
  color: white;
  font-weight: 400;
  cursor: pointer;
  box-shadow: 0 4px 20px -4px rgba(0,0,0,0.2);
  transition: background 0.2s;
}

.HotelButton:hover {
  background-color: #5a6268; /* Oscurece ligeramente al pasar el cursor */
}
