.ConfirmForm {
  width: 90%;
  height: auto;
  margin: 0 auto;
  padding: 1rem;
  background: transparent;
  box-shadow: none;
}

.ItemForm {  
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  font-family: "Cormorant";
}

.LabelForm {
  margin-bottom: 0.5rem;
  font-weight: 600;
  font-size: 1.2rem;
  font-family: "Cormorant";
}

.ItemForm input,
.ItemForm select {
  padding: 0.6rem;
  font-size: 1.3rem;
  border-radius: 8px;
  border: 1px solid #adadad;
  outline: none;
  transition: border-color 0.2s;
  font-family: "Cormorant";
}

.ItemForm input:focus,
.ItemForm select:focus {
  border-color: #333;
}

.ItemForm select {
  width: 100%;
  margin-top: .5rem;
  background-color: white;
}

.InfoText {
  margin-bottom: 0.5rem;
  text-align: left;
}

.RadioGroup {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  margin-top: 0.5rem;
}

.RadioLabel {
  position: relative;
  padding-left: 1.6rem;
  cursor: pointer;
  font-size: 1.1rem;
  font-family: "Cormorant";
  user-select: none;
}

.RadioLabel input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.customRadio {
  height: 1.2rem;
  width: 1.2rem;
  position: absolute;
  left: 0;
  top: 0;  
  background-color: white;
  border-radius: 50%;
  border: 1px solid #333;
}

.RadioLabel input:checked ~ .customRadio {
  background-color: #333;
  border-color: #333;
}

.customRadio::after {
  content: "";
  position: absolute;
  display: none;
}

.RadioLabel input:checked ~ .customRadio::after {
  display: block;
}

.RadioLabel .customRadio::after {
  width: 10px;
  height: 10px;
  top: 5px;
  left: 5px;  
  border-radius: 50%;
  background: white;
}

.ConfirmButton {
  width: 100%;
  padding: 0.8rem;
  margin: 1rem 0;
  background-color: #333;
  color: white;
  box-shadow: 0 4px 20px rgba(0,0,0,0.2);
  transition: background 0.2s;
}

.ConfirmButton:hover {
  background-color: #555;
}

.loader {
  width: 60%;
  position: fixed;
  top: 50%;
  margin: auto;
  padding: 1rem;
  background: #333;
  color: white;  
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.2);
  z-index: 1000;
}
