.TimelineSection {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
}

.TimelineImg {
  width: 100%;
  height: auto;
  max-width: 100%;
  margin: 0 auto;
  display: block;
  animation: lineAnimation 3s ease-in-out infinite;
}

/* Animaciones opcionales */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes lineAnimation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}
