.Gift {
  width: 90%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  padding-top: 0;
  background-image: url(../../../assets/novios.png);
  background-repeat: no-repeat;
  background-size: 60% auto;
  background-position: center bottom;
}

.BankContent {
  width: 98%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 1rem 0;
}

.Label {
  align-self: flex-start !important;
  justify-self: flex-start !important;
  margin-bottom: 0.4rem;
  font-weight: 600;  
}

.BankAccountContent {
  width: 96%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0.6rem 0.4rem;
  padding-left: 0.8rem;
  border-radius: 12px;
  background: rgba(208, 223, 202, 0.4);
}

.BankAccount {
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center !important;
}

.CopyButton {
  display: flex;
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.CopyIcon {
  width: 1.8rem;
  height: 1.8rem;
  margin: 0 auto;
  fill: #1a1a1a;
}

.PhonesContent {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1rem;
  margin: 2rem 1rem 1rem 1rem;
  font-size: 1rem;
}

.Phone {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.PhoneName {
  font-weight: bold;
}

@media (min-width: 768px) {
  .Gift {
    width: 70%;
    margin: 0 auto;
    background-size: 48% auto;
  }
}

@media (min-width: 1200px) {
  .Gift {
    width: 50%;
    margin: 0 auto;
    background-size: 32% auto;
  }
}
